Ú†Ø±Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù¾Ø±Ø§Ù†ØªØ²Ù‡Ø§ Ø¯Ø± ÙÛŒÙ„ØªØ± Ø¨ÙˆÙ„ÛŒ Ú†Ù†Ø¯ Ø´Ø±Ø·ÛŒ Ø¨Ø§ & Ø¶Ø±ÙˆØ±ÛŒ Ø§Ø³ØªØŸ

(Ù¾Ø§Ø³Ø® Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ Ø´Ø§Ù…Ù„ ØªÙˆØ¶ÛŒØ­ Â«Ø§ÙˆÙ„ÙˆÛŒØª Ø¹Ù…Ù„Ú¯Ø±Ù‡Ø§Â» Ø¨Ø§Ø´Ø¯.)

Ú¯Ø§Ù… Û²: Commit Ùˆ Push Ù†Ù‡Ø§ÛŒÛŒ ğŸŒ

## ØªØ­Ù„ÛŒÙ„ Ø¯Ø§Ø¯Ù‡â€ŒÛŒ Ø§ÙˆÙ„ÛŒÙ‡

Ø§ÛŒÙ† Ø¬Ø¯ÙˆÙ„ Ø§ÙˆÙ„ÛŒÙ‡ØŒ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ ÙØ±Ø¶ÛŒ Ø¨Ø±Ø§ÛŒ ØªÙ…Ø±ÛŒÙ† Indexing Ùˆ Selection Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Age Ùˆ Income Ù…ØªØºÛŒØ±Ù‡Ø§ÛŒ Ø¹Ø¯Ø¯ÛŒ Ù…Ø§ Ù‡Ø³ØªÙ†Ø¯.

In [ ]:
import pandas as pd


def printo():
    print(" \n ", "-" * 10, " \n ")


data = {
    "Name": ["Ali", "Sara", "Reza", "Mina", "Vahid"],
    "Age": [22, 35, 28, 41, 30],
    "Income_Mln_Toman": [30, 80, 55, 120, 45],
}

df = pd.DataFrame(data)
print(df)
printo()

In [ ]:
# 1. Selection by Position (iloc)
# Ø§Ù†ØªØ®Ø§Ø¨ Ø³Ø·Ø±Ù‡Ø§ÛŒ 0 ØªØ§ 2 (Ø³Ø·Ø± 3 Ø´Ø§Ù…Ù„ Ù†Ù…ÛŒ Ø´ÙˆØ¯) Ùˆ Ø³ØªÙˆÙ† 1 (Age)
pos_select = df.iloc[0:3, 1]
print("Selection using iloc (Position):\n", pos_select)

# 2. Selection by Label (loc)
# Ø§Ù†ØªØ®Ø§Ø¨ Ø³Ø·Ø±Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ù†Ø§Ù…Ø´Ø§Ù† 'Sara' Ø§Ø³Øª Ùˆ Ø³ØªÙˆÙ† Income_Mln_Toman
label_select = df.loc[df["Name"] == "Sara", "Income_Mln_Toman"]
print("\nSelection using loc (Label):\n", label_select)

In [ ]:
df_filtered = df[(df["Age"] > 30) & (df["Income_Mln_Toman"] > 50)]
print(df_filtered)

Ú†Ø±Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù¾Ø±Ø§Ù†ØªØ²Ù‡Ø§ Ø¯Ø± ÙÛŒÙ„ØªØ± Ø¨ÙˆÙ„ÛŒ Ú†Ù†Ø¯ Ø´Ø±Ø·ÛŒ Ø¨Ø§ & Ø¶Ø±ÙˆØ±ÛŒ Ø§Ø³ØªØŸ

(Ù¾Ø§Ø³Ø® Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ Ø´Ø§Ù…Ù„ ØªÙˆØ¶ÛŒØ­ Â«Ø§ÙˆÙ„ÙˆÛŒØª Ø¹Ù…Ù„Ú¯Ø±Ù‡Ø§Â» Ø¨Ø§Ø´Ø¯.)

Ú†ÙˆÙ† ÙˆÙ‚ØªÛŒ Ø§Ø² & Ø¨ÛŒÙ† ØªØ§Ø¨Ù‡ Ø§Ø±Ú¯ÙˆÙ…Ø§Ù† ØªØ§Ø¨Ù‡ 1 Ùˆ ØªØ§Ø¨Ø¹ 2 Ø§Ø³ÙØ§Ø¯Ù‡ Ù…ÛŒØ´Ù‡.
Ø§ÙˆÙ† Ø³Ø·ÙˆÙ† Ù‚Ø±Ø§Ø±Ù‡ Ø¨Ø§ ÛŒÚ© Ø¹Ø¯Ø¯ ØµØ­ØµØ­ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø¨Ø´Ù‡ Ú©Ù‡ Ù…ÛŒØ´Ù‡ Ú¯Ù‚Øª ØºÛŒØ± Ù…Ù…Ú©Ù†Ù‡ ØªÙˆØ³Ø· Ù¾Ø§ÛŒØªÙˆÙ† Ø¨Ù‡ Ø·ÙˆØ± Ù…Ø³ØªÙ‚ÛŒÙ… Ø§ÛŒÙ†Ø·ÙˆØ±ÛŒ Ù†ÙˆØ´ØªÙ‡ Ø¨Ø´Ù‡
Ùˆ Ø§Ù† Ø¬Ø·Ø§ Ù†Ù…ÛŒØªÙˆÙ†Ù‡ ØªØ´Ø®ÛŒØ³ Ø¨Ø¯Ù‡ Ù…Ù†Ø¸ÙˆØ±Ù…ÙˆÙ† Ú©Ø¯ÙˆÙ…Ù‡
Ø¨Ø±Ø§ÛŒÛŒ Ù‡Ù…ÛŒÙ† Ø¨Ø±Ø§ÛŒÛŒ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø¨Ø§ÛŒØ¯ ØªÙˆØ§Ø¨Ø¹ Ùˆ Ø§Ø±Ú¯ÙˆÙ…Ø§Ù† Ù‡Ø§Ø´ÙˆÙ† ØªÙˆÛŒ ÛŒÙ¾Ø±Ø§Ù…Ù†ØªØ² Ù‚Ø±Ø§Ø± Ø¨Ú¯ÛŒØ±Ù†Ø¯ ØªØ§ Ø®Ø±ÙˆØ¬ÛŒ Ø§ÙˆÙ† ØªØ§Ø¨Ø¹ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ø¨Ø´Ù‡ Ù†Ù‡ Ù…Ù‚Ø§Ø¯ÛŒ Ø¯Ø§Ø®Ù„Ø´

In [ ]:
# Ø§ÛŒØ¬Ø§Ø¯ DataFrame Ø¨Ø§ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ú¯Ù…Ø´Ø¯Ù‡ Ùˆ ØªÚ©Ø±Ø§Ø±ÛŒ
data_cleaning = {
    "TransactionID": [101, 102, 103, 104, 105, 105],  # 105 ØªÚ©Ø±Ø§Ø±ÛŒ Ø§Ø³Øª
    "Product": ["Laptop", "Monitor", "Mouse", None, "Keyboard", "Monitor"],
    "Price": [1200, 300, 50, 45, None, 300],
    "Quantity": [1, 2, None, 1, 1, 2],  # Ø¯Ø§Ø±Ø§ÛŒ NaN
}
df_clean = pd.DataFrame(data_cleaning)
# print(df_clean)
# printo()
df_clean = df_clean.drop_duplicates(subset=["TransactionID"])
print(df_clean)

In [ ]:
mean_price = df_clean["Price"].mean()
df_clean = df_clean.fillna({"Quantity": 1, "Price": df_clean["Price"].mean()}).dropna(subset=["Product"])
df_clean = df_clean.fillna(0)
print(f"{df_clean}\n Mean of Price is : {mean_price}")
df_clean.to_csv("df_clean.csv", index=False)