In [4]:
import pandas as pd

data = {
    "Name": ["Ali", "Sara", "Reza", "Mina", "Vahid"],
    "Age": [22, 35, 28, 41, 30],
    "Income_Mln_Toman": [30, 80, 55, 120, 45],
}

df = pd.DataFrame(data)
print(df)  # نمایش DataFrame

    Name  Age  Income_Mln_Toman
0    Ali   22                30
1   Sara   35                80
2   Reza   28                55
3   Mina   41               120
4  Vahid   30                45